# Align measured with annotated spectra

In [1]:

%load_ext autoreload
%autoreload 2

In [2]:
!pip install dtw-python

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Requirement already satisfied: dtw-python in /opt/conda/lib/python3.7/site-packages (1.3.0)
Requirement already satisfied: scipy>=1.1 in /opt/conda/lib/python3.7/site-packages (from dtw-python) (1.3.1)
Requirement already satisfied: numpy>=1.19 in /opt/conda/lib/python3.7/site-packages (from dtw-python) (1.21.6)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [3]:
import sys
sys.path.append("..")

import pandas as pd
import matchms
from matchms.importing import load_from_msp
from data_utils import spectrum_processing
from pipeline_utils import get_galaxy_filename

def get_spectra(path):
    spectrums = [spectrum_processing(s, min_rel_int=None, n_required_peaks=1) for s in load_from_msp(path, metadata_harmonization=False)]
    # Omit spectrums that didn't qualify for analysis
    spectrums = [s for s in spectrums if s is not None]
    return spectrums

/opt/conda/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [7]:
model = "GPT2"

ground = pd.read_csv("tmp/6_KC_Confirmed_seminalplasma.csv.csv")
library = get_spectra("tmp/5_rcx_gc-orbitrap_metabolites_20210817.msp.msp")
measured = get_spectra(get_galaxy_filename(f"_{model}", "tmp"))
matches = pd.read_csv(get_galaxy_filename(f"- {model}", "tmp"), sep="\t")

In [15]:
ground["RT"] = ground["Average Rt(min)"]*60
ground = ground.sort_values(by=['RT'], ascending=True)

In [16]:
# select library spectra present in ground
ground

# add RT column to the selected library spectra

# sort selected library spectra by RT

    Average Rt(min)  Average RI             Metabolite name      RT
0             2.484     1224.68   2-Methylmalonic acid_2TMS  149.04
33            2.615     1266.17                Leucine_2TMS  156.90
31            2.691     1288.34             Isoleucine_2TMS  161.46
47            2.718     1296.42                Proline_2TMS  163.08
26            2.744     1303.46                Glycine_3TMS  164.64
..              ...         ...                         ...     ...
57            5.793     2234.36           Stearic acid_1TMS  347.58
55            5.832     2247.44             Spermidine_5TMS  349.92
56            7.086     2740.02               Spermine_6TMS  425.16
37            8.709     3529.40  Maltotriose_11TMS isomer 1  522.54
38            8.851     3576.89  Maltotriose_11TMS isomer 2  531.06

[65 rows x 4 columns]

In [7]:
ground

    Average Rt(min)  Average RI                    Metabolite name
0             2.484     1224.68          2-Methylmalonic acid_2TMS
1             5.333     2071.84           Acetylgalactosamine_4TMS
2             5.318     2065.37  Acetylgalactosamine_5TMS isomer 1
3             5.386     2088.77  Acetylgalactosamine_5TMS isomer 2
4             5.328     2070.17    Acetylglucosamine_5TMS isomer 1
..              ...         ...                                ...
60            2.993     1377.14           Threonine_3TMS spectra 1
61            2.996     1378.30           Threonine_3TMS spectra 2
62            4.218     1732.44           trans-Aconitic acid_3TMS
63            5.717     2208.86                    Tryptophan_3TMS
64            4.903     1932.06                      Tyrosine_3TMS

[65 rows x 3 columns]

In [3]:
from dtw import *
alignment = dtw(query, template, keep_internals=True)

Importing the dtw module. When using in academic works please cite:
  T. Giorgino. Computing and Visualizing Dynamic Time Warping Alignments in R: The dtw Package.
  J. Stat. Soft., doi:10.18637/jss.v031.i07.

NameError: name 'query' is not defined